@charset "utf-8";


/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
ul > li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

:root {
	--new-color:#bf4800;
	--gray-color:#F5F5F7;
	--black-background-color: #1e1e1e;
	--blue-color: #0071e3;
	--black-element-color: #1D1D1F;
	--gray-border-color: #d2d2d7;
}

/*module*/
a.round-box {display: inline-block; padding: 12px 22px; background-color: var(--blue-color); box-sizing: border-box; border: 1px solid val(--blue-color); border-radius: 24px; font-size: 14px; font-weight: 600; color: white; margin-right: 10px; transition: opacity 0.3s;}
a.round-box:hover {opacity: 0.8;}
.info-link {font-size: 17px; color: var(--blue-color); font-weight: 600; transition: text-decoration 0.3s;}
.info-link:hover {text-decoration: underline;}
#connection ~ * a.round-box {font-size: 10px; padding: 6px 13px;}
#connection ~ * .info-link {font-size: 12px;}
/* common */

body {font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;font-size: 14px;color: var(--black-element-color);letter-spacing: -0.03em;background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden;}

#skip-nav {background-color: rgba(0, 0, 0, 0.6); color: white; position: fixed; z-index: 10000000; line-height: 40px; width: 100%; top: -40px; text-align: center; opacity: 0; transition: top 1s;}
#skip-nav:focus {top: 0px}

#header {background: #333333; color: #f5f5f7; position: relative; height: 44px; width: 100%; font-size: 17px; min-width: 1024px;}
#header h1 {position: absolute; top: 50%; left: 23%; transform: translateY(-50%); font-size: 20px;}
#header h1 > a > i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#gnb {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100; font-size: 12px; width: auto; min-width: 800px;}
#gnb > ul > li {float: left; transition: color 0.3s}
#gnb > ul > li + li {margin-left: 50px;}
#gnb > ul > li > a {display: block; line-height: 45px;}
#header > h1:hover, #header > h1:focus, #top-menu > li:hover, #top-menu > li:focus, #gnb > ul > li:hover, #gnb > ul >li:focus {color: rgba(121, 116, 116, 0.979);} 

#top-menu {position: absolute; right: 23%; top: 50%; transform: translate(0, -50%); z-index: 100;}
#top-menu > li {display: inline-block; width: 35px;}
#top-menu > li + li {margin-left: 25px;}
@media screen and (max-width: 1700px) {
	#header h1 {left: 15%;}
	#top-menu {right: 15%;}
	#top-menu > li + li{margin-left: 12px;}
}

@media screen and (max-width: 1300px) {
	#header h1 {left: 8%;}
	#top-menu {right: 7%;}
	#top-menu > li + li{margin-left: 8px;}
}

#main-tab {position: relative; width: 100%; height: 130px;}
#main-tab > ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 700px; text-align: center}
#main-tab > ul > li {display: inline-block; width: calc(12.5% - 10px); position: relative; height: 130px}
#main-tab > ul > li + li {margin-left: 20px;}
#main-tab > ul > li > a {display: block; position: absolute; width: 100%; height: 130px; left: 50%; transform: translate(-50%, 0); transition: color 0,1s;}
#main-tab > ul > li > a::after {position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
#main-tab > ul > li > a:focus, #main-tab > ul > li > a:hover {color: #06c;}
#main-tab > ul > li:first-child > a {background: url("../img/nav-00.png") center 20px no-repeat;}
#main-tab > ul > li:nth-child(2) > a {background: url("../img/nav-01.png") center 20px no-repeat;}
#main-tab > ul > li:nth-child(3) > a {background: url("../img/nav-02.png") center 20px no-repeat;}
#main-tab > ul > li:nth-child(4) > a {background: url("../img/nav-03.png") center 20px no-repeat;}
#main-tab > ul > li:nth-child(5) > a {background: url("../img/nav-04.png") center 20px no-repeat;}
#main-tab > ul > li:last-child > a {background: url("../img/nav-05.png") center 20px no-repeat;}
#main-tab > ul > li > a > span {position: absolute; font-size: 12px; bottom: 30px; width: 110%; left: 50%; transform: translate(-50%, 0);} 
#main-tab > ul > li > a > span:nth-child(2) {bottom: 15px; font-size: 11px;}
#main-tab > ul > li > a > span:nth-child(3) {bottom: 0px; font-size: 10px; color:var(--new-color)}

#main .black {background-color: var(--black-background-color); color: white;}

#items {padding: 30px; max-width: 1580px; margin: 0px auto;}
#items > div {border-radius: 18px; height: 680px; position: relative; border: 1px solid black; overflow: hidden;}
#items > div + div {margin-top: 30px;}
#items div.video {overflow: hidden;}
#items > div:nth-child(4) {background: url("../img/airpods_max__large.png") center center no-repeat; background-size: contain;}
#items div h3 {position: absolute; width: 100%; font-size: 120px; font-weight: 600; text-align: center;top: 50%; transform: translate(0, -50%); z-index: 100;}
#items div h3 > span {position : absolute; bottom: -30px; font-size: 21px; left: 50%; transform: translate(-50%, 0);}
#items div > p.price {position: absolute; font-size: 21px; left: 50%; transform: translate(-50%, 0); bottom: 190px;}
#items div.video video {width: 100%; height: 100%; object-fit: cover;} 
#items div.video h3 + span.new {position: absolute; top: 37%; left: 50%; transform: translate(-50%, -50%); font-size: 17px; padding: 6px 18px; color: #f56300; border: 1px solid#f56300; border-radius: 18px;}
#items div.video a.control {position: absolute; bottom: 30px; right: 30px; background: transparent; width: 40px; height: 40px;}
#items div.video a.control img:first-child {display: block;}
#items div.video a.control img+img {display: none;}
#items div.video a.control.on img:first-child {display: none;}
#items div.video a.control.on img+img {display: block;}
#items p.link {position: absolute; bottom: 45px; left: 50%; transform: translate(-50%, 0); z-index: 100;}
#items div.black > p + img {position: absolute; left: 23%; top: 10%;}
#items div.black > img:last-child {position: absolute; right: 23%; top: 10%;}
#items div.black p.link a.info-link {color: #ffffff;}
#items div.black p.link a.round-box {color: var(--black-element-color); background: #ffffff;}
#items div:last-child > p + img {position: absolute; left: 23%; top: 10%;}
#items div:last-child > img:last-child {position: absolute; right: 27%; top: 45%;}

#connection {padding: 150px 30px 0px 30px; overflow: hidden;}
#connection h2 {font-size: 60px; text-align: center; font-weight: 700; line-height: 1;}
#connection ul.slide {position: relative; margin-top: 50px; width: 2500px;height: 486px; overflow: hidden;}
#connection ul.slide > li {position: relative; height: 100%; width: 400px; float: left; border-radius: 18px; background: #ffffff; overflow: hidden;}
#connection ul.slide > li + li {margin-left: 20px;}
#connection ul.slide > li > img {position: absolute; left: 50%; transform: translate(-50%, 0); display: block;}
#connection ul.slide > li:first-child > img {top: -50px; width: 350px;}
#connection ul.slide > li:nth-child(2) > img {top: 50%; transform: translate(-50%, -50%); width: 350px;}
#connection ul.slide > li:nth-child(3) > img {top: 30px; width: 300px;}
#connection ul.slide > li:last-child > img {top: 40%; transform: translate(-50%, -50%)}
#connection ul.slide > li:nth-child(4) >p.text-img {position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%) ;background: linear-gradient(90deg,#ffa54d,#f07bc5 50%,#43aeff);-webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 38px; line-height: 1; font-weight: 700; text-align: center; width: 100%;}
#connection ul.slide > li:last-child >p.text-img {width: 100%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 21px; font-weight: 600; color: #555555;}
#connection ul.slide li p.title {position: absolute; bottom: 20px; left: 40px; font-size: 22px; font-weight: 600; display: inline-block;}
#connection ul.slide li p.desc {display: none;}
#connection ul.slide li a.control {display: inline-block; position: absolute;bottom: 20px; right: 20px; width: 33px; height: 33px; border: 1px solid var(--black-element-color); border-radius: 50%; background: var(--black-element-color); transition: all 0.3s;}
#connection ul.slide li a.control i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffffff;}
#connection ul.slide li.on {padding: 50px; box-sizing: border-box;}
#connection ul.slide li.on img {display: none;}
#connection ul.slide li.on .text-img {display: none;}
#connection ul.slide li.on p.title {top: 200px; left: 50px;}
#connection ul.slide li.on p.desc {display: block; position: absolute; width: calc(100% - 100px); top: 240px ;font-size: 16px; font-weight: 500; line-height: 1.5;}  
#connection ul.slide li.on a.control {transform: rotate(45deg);}
#connection ul.control {box-sizing: border-box; position: relative; text-align: center; height: 80px}
#connection ul.control li {display: inline-block; height: 100%; position: relative; width: 30px;}
#connection ul.control li + li {margin-left: 18px;}
#connection ul.control li a {display: inline-block; border: 2px solid var(--black-element-color); border-radius: 50%; width: 30px; height: 30px; position: absolute; top: 50%; left: 0px; transform: translate(0, -50%);box-sizing: border-box;}
#connection ul.control li a i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 16px;}

#compare {padding: 100px 0px 60px 0px; position: relative; min-height: 1500px;}
#compare h2 {text-align: center; font-size: 60px; font-weight: 700; line-height: 1;}
#compare div.box-wrap {display: table; table-layout: fixed; width: 940px; height: 1200px; position: absolute; left: 50%; transform: translate(-50%, 0); margin-top: 80px; border-spacing: 20px;}
div.box-wrap div.col {display: table-cell;position: relative;}
div.box-wrap div.col div {display: inline-block; width: 100%; text-align: center; position: relative; height: 420px; vertical-align: top;}
div.box-wrap div.col div.product {border-bottom: 1px solid var(--gray-border-color);}
div.box-wrap div.col div.product ~ div {height: calc(780px/5);}
div.box-wrap div.col div.product p.link {position: absolute; bottom: 20px; left: 50%; transform: translate(-50%, 0); width: 40%;}
div.box-wrap div.col div.product p.link a.round-box {margin: 0px 5px 5px 5px;}
div.box-wrap div.col div.product p.price {position: absolute;bottom: 90px; left: 50%; transform: translate(-50%, 0);font-size: 16px; font-weight: 400;}
div.box-wrap div.col div.product h3 {font-size: 21px; font-weight: 600; position: absolute; bottom: 140px; left: 50%; transform: translate(-50%, 0); width: 100%;}
div.box-wrap div.col div.product h3 > span {position: absolute; bottom: -20px; left: 50%; transform: translate(-50%, 0);font-size: 12px; font-weight: 500;}
div.box-wrap div.col div.product span.new {position: absolute; top: -15px; left: 50%; transform: translate(-50%, 0); color: var(--new-color);}
div.box-wrap div.col div.product img {position: absolute; bottom: 190px; left: 50%; transform: translate(-50%, 0);}
div.col div.audio p::before {content: ''; display: block; width: 100%; height: 50px; background: url("../img/icon_spatial_audio_large.png") no-repeat; background-position: center; margin-bottom: 10px;}
div.col div.noise-cancle p::before {content: ''; display: block; width: 100%; height: 50px; background: url("../img/icon_noise_cancellation_large.png"), url("../img/icon_transparency_large.png");background-repeat: no-repeat,no-repeat; background-position: 40%, 60%;margin-bottom: 10px;}
div.col div.sweat p::before {content: ''; display: block; width: 100%; height: 50px; background: url("../img/icon_water_resistent_large.png") no-repeat; background-position: center; margin-bottom: 10px;}
div.col div.charge p::before {content: ''; display: block; width: 100%; height: 50px; background: url("../img/icon_wireless_chargingi_large.png") no-repeat; background-position: center; margin-bottom: 10px;}
div.box-wrap div.col div.product ~ div p {margin-top: 30px;}
div.box-wrap div.col div.product ~ div p.ir-hidden ~ span {display: block; width: 20px; height: 2px; background-color: var(--black-element-color); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
div.col div.battery {display: flex; flex-direction: column; align-items: flex-start; justify-content: center;}
div.col div.battery em {font-size: 35px; font-weight: 600; position: relative; top: 25px;}

#compare > a {position: absolute; bottom: 100px; left: 50%; transform: translate(-50%, 0); font-size: 20px; color:var(--blue-color); font-weight: 500; transition: text-decoration 0.3s;}
#compare > a:hover {text-decoration: underline;}

#footer .wrapper {width: 940px; margin: 0 auto;}
#footer ul.service {display: table; width: 100%; height: 380px; table-layout: fixed; padding-top: 30px; border-bottom: 1px solid var(--gray-border-color); box-sizing: border-box; border-spacing: 15px 0px;}
ul.service > li {display: table-cell; position: relative; text-align: center;}
ul.service > li > a:first-child {display: block;}
ul.service > li > a > div.content {position:absolute; top:0; left: 0; width: 100%; height:100%;}
ul.service > li > a div.content img {display: block; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);}
ul.service > li > a div.content em {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;font-size: 16px; font-weight: 600; margin-top: 10px}
ul.service > li > a div.content p {position: absolute; top: 58%; left: 50%; transform: translate(-50%, 0); font-size: 13px; font-weight: 400; width: 100%; line-height: 1.6;}
ul.service > li > a div.content p.info-link {height: 20px; top: 300px;}

div.notice {color: #6e6e73; font-size: 11px; border-bottom: 1px solid var(--gray-border-color); padding: 15px 0px; box-sizing: border-box;}
div.notice p {margin-bottom: 10px;}
div.notice ol {padding: 0px 10px;}
div.notice ol li+li {margin-top: 10px;}

div.site p {padding: 15px 0px; height: 50px; box-sizing: border-box; display: flex; align-items: center; justify-content: flex-start;}
div.site p > * {display: flex; flex-direction: column; align-items: center; font-size: 13px; margin-left: 10px;}
div.site p > * > i {font-size: 17px;}
div.site p > a {position: relative; top: -1px;}
div.site p > span i {color: #6e6e73;}
div.site div.site-wrapper {width: 100%; overflow: hidden; position: relative;}
div.site ul {float:left; width: 20%; color: #6e6e73; font-size: 12px;}
div.site ul:nth-child(3) {position: absolute; left: 20%; bottom: 23px;}
div.site ul:nth-child(6) {position: absolute; right: 20%; top: 85px;}
div.site ul:last-child {position: absolute; right: 0px; bottom: -25px;}
div.site ul em {font-weight: 700;}
div.site ul > * + * {margin-top: 10px;}

address {color: #6e6e73; font-size: 11px;; margin: 20px 0px;}
address >  p {padding: 10px 0px; box-sizing: border-box; border-bottom: 1px solid var(--gray-border-color);}
address >  p > a {color: var(--blue-color);}
address div.info {display: flex; padding: 10px 0px; position: relative;}
address div.info .notification {margin-left: 20px; box-sizing: border-box;}
address div.info .notification span {padding: 0px 10px;}
address div.info .notification span + span {border-left: 1px solid var(--gray-border-color);}
address div.info p.nation {position: absolute; right: 0px;}